@media print {
  @page {
    size: A4;
    margin: 1cm;
  }

  #no-print,
  #navbar,
  #footer {
    display: none;
  }

  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
}
